// Header
.cp-header-section {
  background-color: var(--header-bg);
  position: relative;

  a {
    color: var(--text-primary);

    .country {
      color: var(--header-button-hover);
    }
  }
}

.main-header {
  display: flex;
  align-items: center;
}

.logo-section {
  width: 100%;
  padding: 15px 25px;

  .description {
    margin-top: 15px;
    font-size: 10px
  }
}

#cp-logo {
  max-height: 25px;
}

#cp-logo .st0 {
  fill: none;
  stroke: var(--text-primary);
  stroke-width: 4.45;
  stroke-linecap: round;
  stroke-linejoin: round;
  transition: stroke 0.2s ease-in-out;
}

#cp-logo .st1 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: var(--cp-logo-color);
  transition: fill 0.2s ease-in-out;
}


.header-search .search-form {
  .form-field {
    display: flex;
    align-items: center;
    border-radius: 40px;
    background: var(--header-bg);
  }

  .search-field {
    width: 100%;
    display: flex;
    align-items: center;

    span {
      display: block;
      padding: 10px 25px;
    }
  }

  input {
    background-color: transparent;
    color: var(--text-primary);
    width: 100%;
    padding: 10px 25px 10px 40px;
    border: none;
  }

  input:focus, input:focus-visible, input:focus-within {
    background-color: transparent;
    border: none;
  }

  .form-submit {
    padding: 0;
    background: var(--header-button);
    border-radius: 0 40px 40px 0;
    transition: 0.3s ease-in-out;
  }

  .form-submit:hover {
    background-color: var(--header-button-hover);
  }

  .submit {
    background-color: transparent;
    color: var(--text-primary);
    padding: 6px 30px;
    font-size: 20px;
  }
}

.main-nav {
  display: flex;
  flex-flow: column nowrap;

  .main-menu {
    display: flex;
    flex-flow: column nowrap;
    margin: 0 25px;
    padding: 0;
    border-radius: 5px;
    background: var(--content-bg);

    li {
      display: inline-flex;
      flex-flow: column nowrap;
      width: 100%;
      position: relative;

      a {
        display: flex;
        align-items: center;
        padding: 10px;
        border-bottom: 1px solid var(--bg-color);
        color: var(--text-primary);
        transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border-bottom-color 0.3s ease-in-out, color 0.3s ease-in-out;

        i {
          margin-right: 5px;
          transition: color 0.3s ease-in-out;
        }
      }

      .start-coding {
        border-radius: 5px !important;
        justify-content: center;
        border: 2px solid var(--button-primary);
        transition: all 0.3s ease-in-out;

        &:hover {
          border-radius: 5px !important;
          border-color: var(--button-primary-hover);
        }
      }

      .fa-angle-down {
        position: absolute;
        right: 0;
        top: 1px;
        padding: 13px;
        border-left: 1px solid var(--text-primary);
        cursor: pointer;
        transition: background-color 0.2s ease-in-out;
      }

      .fa-angle-down:hover {
        color: var(--cp-logo-color);
        background-color: var(--bg-color);
      }

      &:first-child a {
        border-top: 2px solid var(--button-primary);
        border-radius: 5px 5px 0 0;
        transition: border-top-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
      }

      &:first-child a:hover {
        border-top-color: var(--button-primary-hover);
      }
    }

    > li:first-child a:hover {
      border-radius: 5px 5px 0 0;
    }

    > li:last-child a:hover {
      border-radius: 0 0 5px 5px;
    }

    a:hover {
      background-color: var(--bg-color);

      i {
        color: var(--cp-logo-color);
      }
    }

    li.current-child {
      flex-direction: column;
    }

    .sub-menu {
      display: none;
      padding: 0;
    }
  }
}

.useful-links {
  display: flex;
  flex-flow: column nowrap;
  margin: 25px 0 0 0;
  padding: 0;
  width: 100%;

  li {
    display: inline-flex;
    flex-flow: column nowrap;
    width: 100%;

    a {
      color: var(--text-primary);
      padding: 10px 25px;
      transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;

      i {
        margin-right: 5px;
        transition: color 0.3s ease-in-out;
      }
    }
  }

  a:hover {
    background-color: var(--bg-color);

    i {
      color: var(--cp-logo-color);
    }
  }

  .start-coding {
    background-color: var(--header-button);
    border: none;
    color: #fff;
    padding: 10px 48px;
    margin: 0 auto 20px auto;
    display: inline-block;
  }

  .start-coding:hover {
    background-color: var(--header-button-hover);
    color: #fff;
  }

  li.current-child {
    flex-direction: column;
  }

  .sub-menu {
    padding: 0;
  }

  .breaker {
    color: var(--text-primary);
    height: 1px;
  }
}

.top-header-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding: 25px 0;

  .header-search-box {
    width: 100%;
  }
}

.pro-tag {
  background: var(--header-button);
  padding: 4px 15px;
  font-size: 10px;
  color: #fff;
  border-radius: 2px;
  text-transform: uppercase;
  margin-left: 5px;
  width: fit-content;
}

.top-header-main-nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  .top-header-main-menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-flow: row nowrap;
    margin: 0;

    li {
      display: inline-flex;
      align-items: center;
      position: relative;
    }
  }
}

.login-button, .signup-button {
  background-color: var(--header-button);
  border: none;
  color: #fff;
  padding: 10px 25px;
}

.login-button:hover, .signup-button:hover {
  background-color: var(--header-button-hover);
  color: #fff;
}

.signup-button {
  margin-right: 15px;
}