body.new-pen, body.single-pen {
  overflow: hidden !important;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.fa-spinner {
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.new-pen #root, .single-pen #root {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.new-pen .cp-main, .single-pen .cp-main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 0;
}

#pen-filter-wrapper {
  flex-direction: column;
  align-items: flex-start;

  ul {
    display: inline-flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .filter-wrap {
    width: 100%;
    border-bottom: 2px solid var(--side-header-border);
    background-color: var(--side-header);

    li {
      margin: 0;
      padding: 0;

      a {
        margin: 0;
        color: var(--text-primary);
        display: block;
        padding: 10px;
      }

      a:hover {
        color: var(--cp-logo-color);
      }
    }

    li.active {
      a {
        color: var(--cp-logo-color);
      }
    }
  }

  .pen-filter-content {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: var(--header-bg);
  }

  .pen-filter-list {
    li {
      margin: 0;
      display: flex;
      align-items: center;

      a {
        margin: 0;
        color: var(--text-primary);
        display: block;
        padding: 10px;
      }

      a:hover {
        color: var(--cp-logo-color);
      }
    }

    li.active {
      a {
        color: var(--cp-logo-color);
      }
    }
  }
}

#pen-by-languages {
  background-color: var(--header-bg);
  border: none;
  color: #fff;
}

#pen-by-languages:focus, #pen-by-languages:focus-visible, #pen-by-languages:focus-within {
  border: none;
  background-color: var(--header-bg);
}

#pen-plan {
  display: block;
  opacity: 0;
  right: 25px;
  position: absolute;
  bottom: 35px;
  transition: opacity 0.2s ease-in-out;
}

#pen-content-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: max-content;
  gap: 25px;
  background-color: transparent !important;
  border: none !important;
  margin-top: 25px;

  article {
    background-color: var(--content-bg);
    padding: 15px 15px 25px 15px;

    .pen-preview {
      position: relative;
      height: 210px;
      padding: 15px;

      .preview-source {
        height: 100%;

        iframe {
          width: 100%;
          height: 100%;
        }

        i {
          font-size: 150px;
          position: absolute;
          left: 0;
          right: 0;
          top: 30px;
          border: 0;
          text-align: center;
        }
      }

      .pen-details {
        opacity: 0;
        position: absolute;
        top: 10px;
        right: 10px;
        color: var(--content-bg);
        font-size: 30px;
        z-index: 999;
        transition: opacity 0.2s ease-in-out, color 0.2s ease-in-out;
      }

      .pen-details:hover {
        color: var(--cp-logo-color);
      }

      img {
        width: 100%;
        height: auto;
      }
    }

    .pen-preview:hover {
      .pen-details {
        opacity: 1;
      }
    }

    .pen-content {
      position: relative;

      .pen-header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .pen-title {
          margin: 10px 0;

          .title {
            font-size: 20px;
            margin: 0;

            a {
              color: var(--cp-logo-color);
              text-transform: capitalize;
              transition: color 0.2s ease-in-out;
            }
          }
        }

        i {
          font-size: 26px;
          color: var(--cp-logo-color);
          transition: color 0.2s ease-in-out;
          cursor: pointer;
        }

        .title a:hover, i:hover {
          color: var(--header-hover);
        }

        .pen-option-menu {
          position: absolute;
          display: none;
          right: 0;
          top: -128px;
          background-color: var(--pen-bg);
          list-style: none;
          margin: 0;
          padding: 0;

          .pen-option button {
            color: var(--text-primary);
            text-align: left;
            width: 100%;
            border: none;
            border-radius: 0;
            background-color: var(--bg-color);
            border-bottom: 1px solid var(--text-primary) !important;
            padding: 8px 15px;
            transition: background-color 0.2s ease-in-out;
          }

          .pen-option:last-child button {
            border-bottom: none !important;
          }

          .collection:hover {
            background-color: var(--cp-logo-color);
          }

          .private:hover {
            background-color: var(--header-button);
          }

          .delete:hover {
            background-color: var(--error);
          }
        }
      }
    }

    .pen-footer {
      display: flex;
      align-items: center;
      column-gap: 15px;

      .pen-love {
        background-color: var(--pen-bg);
        border: none;
        padding: 4px 12px;
        display: inline-flex;
        align-items: center;
        color: var(--pen-love);

        span:last-child {
          margin-left: 5px;
        }
      }

      .pen-love:hover {
        color: var(--pen-love-hover);
      }

      .pen-comment, .pen-view {
        background-color: var(--side-header);
        padding: 4px 12px;
        display: inline-flex;
        border-radius: var(--cp-button-border-radius);
        align-items: center;

        span:last-child {
          margin-left: 5px;
        }
      }

      .pen-view {
        color: var(--header-button)
      }

      .pen-view:hover {
        color: var(--header-button-hover);
      }

      .pen-comment {
        color: var(--cp-logo-color)
      }

      .pen-comment:hover {
        color: var(--header-hover)
      }
    }
  }
}

// Load more Button
.load-more-wrapper {
  text-align: center;
  margin: 25px auto;
  color: var(--text-primary);

  button {
    background-color: var(--header-button);
    border: 1px solid var(--header-button);
    color: var(--text-primary);

    span {
      margin-left: 5px;
    }
  }

  i {
    display: none;
    animation: loading-spinner 1s linear infinite;
  }

  button.loading {
    i {
      display: inline-block;
    }
  }

  button:hover {
    background-color: var(--header-button-hover);
    border-color: var(--header-button-hover);
  }

  @keyframes loading-spinner {
    0% {
      transform: rotate(0deg)
    }
    100% {
      transform: rotate(-360deg)
    }
  }
}

.pen-header-section {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  padding: 5px 25px;
  background: var(--header-bg);
}

.pen-main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pen-header-left-section {
  display: flex;
  align-items: center;
  flex: 0 0 60%;
  max-width: 56%;

  .pen-logo-section {
    margin-right: 15px;

    a {
      background-color: var(--header-button);
      padding: 10px;
      font-size: 25px;
      position: relative;
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;

      i {
        color: var(--text-primary)
      }
    }
  }

  .pen-author-section {
    a {
      color: var(--header-button);
      text-transform: capitalize;
      font-size: 12px;
    }

    a:hover {
      color: var(--header-button-hover);
    }
  }

  .pen-heading-section {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    input {
      background-color: transparent;
      border: none;
      border-radius: 0;
      color: var(--cp-logo-color);
      padding: 0;
      word-break: break-word;
      font-size: 18px;
      cursor: text;
    }

    input:focus-within, input:focus, input:focus-visible {
      background-color: transparent;
      border: none;
    }
  }

  .pen-header-title, .pen-author-section {
    label {
      display: flex;
      align-items: center;
      min-width: 300px;
      max-width: 450px;

      i {
        color: var(--cp-icon-color);
        font-size: 18px;
        margin-left: 15px;
        cursor: pointer;
        transition: color 0.2s ease-in-out;
      }

      i:hover {
        color: var(--cp-icon-hover);
      }
    }
  }

  .pen-author-section input {
    width: fit-content;
  }
}

.pen-header-right-section {
  flex: 0 0 40%;
  max-width: 40%;

  #follow-user, #run-button, #save-button, .console-clear, #setting-button, .pen-setting {
    background: var(--button-primary);
  }

  .pen-setting .fa-angle-down {
    padding: 7px 10px;
    border-left: 1px solid var(--text-primary);
  }

  #follow-user, #run-button, #save-button, .console-clear, .console-close, #setting-button {
    color: var(--text-primary);
    font-size: 14px;
    padding: 4px 14px;
    border-radius: 3px;
  }

  #run-button, #save-button, #setting-button {
    .fa-spinner {
      margin-left: 8px;
      margin-right: 0;
      display: none;
    }
  }

  #follow-user:hover, #run-button:hover, #save-button:hover, .console-clear:hover, #setting-button:hover {
    background-color: var(--button-primary-hover);
  }

  .console-close {
    background-color: var(--delete);
  }

  .console-close:hover {
    background-color: var(--delete-hover);
  }

  #pen-love {
    background-color: var(--content-bg);
    padding: 6px 15px;
    transition: background-color 0.3s ease-in-out;

    i {
      color: var(--text-primary);
      margin-right: 0;
      transition: color 0.3s ease-in-out;
    }

    i:hover {
      color: var(--pen-love-hover);
    }
  }

  #pen-love.loved {
    i {
      color: var(--pen-love);
    }
  }

  #pen-love:hover {
    background-color: var(--pen-bg);
  }

  #pen-header-setting {
    transition: background-color 0.3s ease-in-out;
    background-color: var(--content-bg);
    color: var(--text-primary);
  }

  #pen-header-setting:hover {
    background-color: var(--pen-bg);
  }
}

.pen-header-author-image {
  width: 40px;
  height: 40px;
  background: var(--text-primary);
  border: none;
  border-radius: 5px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;

  i {
    color: var(--cp-icon-color);
    font-size: 30px;
  }

  img {
    width: 100%;
    height: auto;
  }
}

.pen-header-menu {
  position: relative;
  justify-content: flex-end;
  margin: 0;

  .main-menu-wrap {
    display: none;
    position: absolute;
    right: 0;
    top: 60px;
    max-width: 250px;
    min-width: 200px;
    background-color: var(--side-header);
    padding: 25px 0;
    z-index: 99999;
    overflow-y: auto;
    height: 500px;

    a {
      padding: 10px 25px;
    }
  }

  li {
    margin-right: 15px;
    position: relative;
    cursor: pointer;
  }

  .useful-links {
    a {
      display: block;
      width: 100%;
      text-align: left;
    }

    hr {
      width: 100%;
    }
  }

  button, select {
    padding: 3px 15px;
    display: flex;
    align-items: center;

    i {
      margin-right: 15px;
    }
  }

  .sub-menu {
    display: none;
    position: absolute;
    top: 35px;
    background-color: var(--editor-bg);
    height: auto;
    padding: 0;
    width: 230px;
    right: 0;
    z-index: 9999;

    li {
      justify-content: space-between;
      position: relative;
      margin: 0;
      padding: 5px 25px;
      border-bottom: 1px solid #fff;
      transition: background-color 0.2s ease-in-out;

      .toggle-button {
        display: flex;
        align-items: center;
      }
    }

    li:last-child {
      border-bottom: none;
    }

    li:hover {
      background-color: var(--editor-dracula);
    }
  }
}


.pen-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .heading-title {
    color: var(--text-primary);
    width: fit-content;
    padding: 0 0 10px 0;
    font-size: 22px;
    border-bottom: 8px double var(--button-primary);

    &:hover {
      border-bottom-color: var(--button-primary-hover);
    }
  }

  .view-all-pen {
    display: inline-block;
    color: var(--text-primary);
    background-color: var(--button-primary);
    padding: 5px 25px;
    transition: background-color 0.3s ease-in-out;
    border-radius: 25px;

    i {
      margin-left: 5px;
    }

    &:hover {
      background-color: var(--button-primary-hover);
    }
  }
}

.home-trending-pen-wrap, .home-popular-pen-wrap {
  position: relative;
  overflow: hidden;
}

.prev-pen-button, .next-pen-button {
  background-color: var(--cp-icon-color);
  color: #fff;
  padding: 8px 18px;
  cursor: pointer;
  z-index: 999;
}

.prev-pen-button:hover, .next-pen-button:hover, .prev-pen-button:focus, .next-pen-button:focus {
  background-color: var(--cp-icon-hover);
}

.prev-pen-button {
  position: absolute;
  top: 210px;
  left: -22px;
}

.next-pen-button {
  position: absolute;
  top: 210px;
  right: 15px;
}

.pen-main-content-wrapper {
  display: flex;
  position: absolute;
  top: 63px;
  left: 0;
  right: 0;
  width: 100%;
  height: calc(100% - 110px);
  flex-grow: 1;
}

.editor-content-section {
  height: calc(100% / 3);
  display: block;
  min-height: 100px;
  max-height: 500px;
  overflow: hidden;
}
.CodeMirror-fullscreen{
  z-index: 999999 !important;
}


.editor-content-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: row-resize;
  background-color: var(--editor-bg);

  button {
    color: var(--text-primary);
    background-color: var(--button-primary);
    font-size: 14px;
    padding: 4px 14px;
    margin-left: 10px;
    border-radius: 3px;
  }

  button:hover {
    background-color: var(--button-primary-hover);
  }
}

.editor-title, .output-title, .console-title {
  background-color: var(--button-primary-hover);
  width: fit-content;
  padding: 5px 25px;
  font-size: 18px;
  margin: 0;
  border-top: 2px solid var(--link-primary);
}

.editor-area {
  background-color: var(--editor-bg);
  display: flex;
  flex-grow: 1;

  .editor {
    width: 100%;
    height: 100%;
  }

  textarea:focus, textarea:focus-visible, textarea:active {
    border: none;
    outline: none;
  }
}

.editor-control-resizer {
  position: relative;
  min-width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: col-resize;
}

.output-area {
  background-color: var(--editor-bg);
  height: 100%;

  iframe {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: var(--text-primary);
  }
}

.main-content-wrap {
  display: flex;
  width: 100%;
  flex-grow: 1;
}

.editor-content-wrapper {
  display: flex;
  flex-flow: row nowrap;
  flex-grow: 1;
  width: 100%;
  overflow: hidden;
}

.editor-content-wrap {
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 40%;
  position: relative;
}

.editor-content-output {
  height: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.ui-resizable-handle {
  background-color: var(--editor-bg);
  height: 95%;
  width: 5px;
  top: 3%;
  border-radius: 5px;
}

.editor-content-wrap .ui-resizable-handle.ui-resizable-e {
  right: -10px;
}

.editor-footer-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
  position: absolute;
  bottom: -44px;
  left: 0;
  right: 0;
  background-color: var(--footer-bg);
  padding: 5px 25px;
}

#editor-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
  position: relative;

  .editor-last-save {
    margin: 0 10px 0 0;
    font-size: 12px;
  }
}


#editor-footer .editor-button {
  padding: 3px 10px;
  color: var(--text-primary);
  background-color: var(--button-primary);
  border: none;
  display: flex;
  align-items: center;
  font-size: 12px;

}

#editor-footer .editor-button:hover {
  background-color: var(--button-primary-hover);
}

#editor-footer .pen-delete-button {
  background-color: var(--delete);
}

#editor-footer .pen-delete-button:hover {
  background-color: var(--delete-hover);
}

#editor-footer {
  button {
    margin-right: 15px;

    i {
      margin-right: 5px;
    }
  }
}

.footer-left {
  display: flex;
  align-items: center;
}

.footer-right {
  display: flex;
  align-items: center;
}

.export-option, .share-option {
  position: absolute;
  bottom: 16px;
  width: 250px;
  right: 0;
  list-style: none;
  padding: 0;
  cursor: pointer;

  li {
    background: var(--content-bg);
    padding: 0;
    margin-right: 15px;
    transition: background-color 0.3s ease-in-out;
  }

  i {
    margin-right: 5px;
  }
}

.export-option {
  display: none;
}

.share-option {
  display: none;
}

.export-option li {
  padding: 15px 25px;
  border-bottom: 1px solid var(--text-primary);
}

.export-option li:last-child {
  border-bottom: none;
}

.share-option li a {
  padding: 15px 25px;
  border-bottom: 1px solid var(--text-primary);
  display: block;
  transition: background-color 0.3s ease-in-out;
}

.share-title {
  padding: 15px 25px;
  border-bottom: 1px solid var(--text-primary);
  margin: 0;
}

.share-option li:last-child a {
  border-bottom: none;
}

.share-option li a:hover, .export-option li:hover {
  background-color: var(--pen-bg);
}

.export-option li:first-child:hover {
  background-color: var(--content-bg);
}

// Editor
.CodeMirror {
  height: 100% !important;
}

.CodeMirror-search-hint {
  display: none;
}

.CodeMirror-dialog {
  display: flex;
  align-items: center;
}

// Console
.console-area {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 200px;
}

.console-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px 0 0;
  background-color: var(--editor-matrix);
}

#follow-user, #run-button, #save-button, .console-clear {
  background: var(--button-primary);
}

.console-clear, .console-close {
  color: var(--text-primary);
  font-size: 14px;
  padding: 4px 14px;
  margin-left: 10px;
  border-radius: 3px;
}

.console-clear:hover {
  background-color: var(--button-primary-hover);
}

.console-close {
  background-color: var(--delete);
}

.console-close:hover {
  background-color: var(--delete-hover);
}

.console-field {
  display: flex;
  align-items: center;
  position: relative;

  i {
    position: absolute;
    color: #fff;
    top: 12px;
    padding-left: 10px;
  }
}

#console-input {
  border: 1px solid var(--button-primary);
  width: 100%;
  max-height: 40px;
  background-color: var(--editor-matrix);
  padding: 5px 25px;
  color: var(--text-primary);
  overflow: hidden;
  resize: none;
}

.console-output {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 200px;
  background-color: var(--editor-dracula);
  padding: 10px 25px;
  overflow-y: scroll;
  overflow-x: hidden;

  p {
    display: flex;
    margin-bottom: 15px;
    color: var(--text-primary);
  }

  p.error {
    color: var(--error);
  }
}

.console-code {
  margin-bottom: 25px;

  .CodeMirror {
    padding: 0 25px;
  }
}

.console-command {
  background-color: #0f0f0f;

  pre {
    margin: 0;
    padding: 5px 25px;
  }
}

input[name='toggle'] {
  display: none;
}

label.toggle {
  display: inline-block;
  width: 50px;
  height: 20px;
  background-color: var(--text-primary);
  border-radius: 50px;
  position: relative;
  cursor: pointer;
  transition: all 0.2s ease;
}

label.toggle::before {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  background-color: var(--button-primary-hover);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 15px;
  transition: all 0.2s ease;
}

label.toggle.on {
  background-color: var(--button-primary-hover);
}

input[type="radio"]:checked, label.toggle.on::before {
  left: calc(100% - 15px);
  background-color: var(--text-primary);
}
