#pen-filter-wrapper {
  flex-direction: column;
  align-items: flex-start;

  ul {
    display: inline-flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .filter-wrap {
    width: 100%;
    border-bottom: 2px solid var(--side-header-border);
    background-color: var(--side-header);

    li {
      margin: 0;
      padding: 0;

      a {
        margin: 0;
        color: var(--text-primary);
        display: block;
        padding: 10px;
      }

      a:hover {
        color: var(--cp-logo-color);
      }
    }

    li.active {
      a {
        color: var(--cp-logo-color);
      }
    }
  }

  .pen-filter-content {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: var(--header-bg);
  }

  .pen-filter-list {
    li {
      margin: 0;
      display: flex;
      align-items: center;

      a {
        margin: 0;
        color: var(--text-primary);
        display: block;
        padding: 10px;
      }

      a:hover {
        color: var(--cp-logo-color);
      }
    }

    li.active {
      a {
        color: var(--cp-logo-color);
      }
    }
  }
}

#pen-by-languages {
  background-color: var(--header-bg);
  border: none;
  color: #fff;
}

#pen-by-languages:focus, #pen-by-languages:focus-visible, #pen-by-languages:focus-within {
  border: none;
  background-color: var(--header-bg);
}

#pen-plan {
  display: block;
  opacity: 0;
  right: 25px;
  position: absolute;
  bottom: 35px;
  transition: opacity 0.2s ease-in-out;
}

#pen-content-wrapper {
  display: flex;
  gap: 25px;
  background-color: transparent !important;
  border: none !important;
  margin-top: 25px;

  article {
    background-color: var(--content-bg);
    padding: 15px 15px 25px 15px;
    height: 350px;
    flex: 0 0 30%;

    .pen-preview {
      position: relative;
      height: 210px;
      padding: 15px;

      .preview-source {
        height: 100%;

        iframe {
          width: 100%;
          height: 100%;
        }

        i {
          font-size: 150px;
          position: absolute;
          left: 0;
          right: 0;
          top: 30px;
          border: 0;
          text-align: center;
        }
      }

      .pen-details {
        opacity: 0;
        position: absolute;
        top: 10px;
        right: 10px;
        color: var(--content-bg);
        font-size: 30px;
        z-index: 999;
        transition: opacity 0.2s ease-in-out, color 0.2s ease-in-out;
      }

      .pen-details:hover {
        color: var(--cp-logo-color);
      }

      img {
        width: 100%;
        height: auto;
      }
    }

    .pen-preview:hover {
      .pen-details {
        opacity: 1;
      }
    }

    .pen-content {
      position: relative;

      .pen-header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .pen-title {
          margin: 10px 0;

          .title {
            font-size: 20px;
            margin: 0;

            a {
              color: var(--cp-logo-color);
              text-transform: capitalize;
              transition: color 0.2s ease-in-out;
            }
          }
        }

        i {
          font-size: 26px;
          color: var(--cp-logo-color);
          transition: color 0.2s ease-in-out;
          cursor: pointer;
        }

        .title a:hover, i:hover {
          color: var(--header-hover);
        }

        .pen-option-menu {
          position: absolute;
          display: none;
          right: 0;
          top: -128px;
          background-color: var(--pen-bg);
          list-style: none;
          margin: 0;
          padding: 0;

          .pen-option button {
            color: var(--text-primary);
            text-align: left;
            width: 100%;
            border: none;
            border-radius: 0;
            background-color: var(--bg-color);
            border-bottom: 1px solid var(--text-primary) !important;
            padding: 8px 15px;
            transition: background-color 0.2s ease-in-out;
          }

          .pen-option:last-child button {
            border-bottom: none !important;
          }

          .collection:hover {
            background-color: var(--cp-logo-color);
          }

          .private:hover {
            background-color: var(--header-button);
          }

          .delete:hover {
            background-color: var(--error);
          }
        }
      }
    }

    .pen-footer {
      display: flex;
      align-items: center;
      column-gap: 15px;

      .pen-love {
        background-color: var(--pen-bg);
        border: none;
        padding: 4px 12px;
        display: inline-flex;
        align-items: center;
        color: var(--pen-love);

        span:last-child {
          margin-left: 5px;
        }
      }

      .pen-love:hover {
        color: var(--pen-love-hover);
      }

      .pen-comment, .pen-view {
        background-color: var(--side-header);
        padding: 4px 12px;
        display: inline-flex;
        border-radius: var(--cp-button-border-radius);
        align-items: center;

        span:last-child {
          margin-left: 5px;
        }
      }

      .pen-view {
        color: var(--header-button)
      }

      .pen-view:hover {
        color: var(--header-button-hover);
      }

      .pen-comment {
        color: var(--cp-logo-color)
      }

      .pen-comment:hover {
        color: var(--header-hover)
      }
    }
  }
}

// Load more Button
.load-more-wrapper {
  text-align: center;
  margin: 25px auto;
  color: var(--text-primary);

  button {
    background-color: var(--header-button);
    border: 1px solid var(--header-button);
    color: var(--text-primary);

    span {
      margin-left: 5px;
    }
  }

  i {
    display: none;
    animation: loading-spinner 1s linear infinite;
  }

  button.loading {
    i {
      display: inline-block;
    }
  }

  button:hover {
    background-color: var(--header-button-hover);
    border-color: var(--header-button-hover);
  }

  @keyframes loading-spinner {
    0% {
      transform: rotate(0deg)
    }
    100% {
      transform: rotate(-360deg)
    }
  }
}

.pen-header-section {
  position: absolute;
  left: 0;
  right: 0;
  padding: 5px 50px;
  background: var(--header-bg);
}

.pen-main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pen-header-left-section {
  display: flex;
  align-items: center;
  flex: 0 0 60%;
  max-width: 56%;

  .pen-logo-section {
    margin-right: 15px;

    a {
      background-color: var(--header-button);
      padding: 10px;
      font-size: 25px;
      position: relative;
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .pen-author-section {
    a {
      color: var(--header-button);
      text-transform: capitalize;
      font-size: 14px;
    }

    a:hover {
      color: var(--header-button-hover);
    }
  }

  .pen-heading-section {
    width: fit-content;

    input {
      background-color: transparent;
      border: none;
      border-radius: 0;
      color: var(--cp-logo-color);
      padding: 0;
      word-break: break-word;
      font-size: 22px;
      cursor: text;
    }

    input:focus-within, input:focus, input:focus-visible {
      background-color: transparent;
      border: none;
    }
  }

  .pen-header-title {
    label {
      display: flex;
      align-items: center;

      i {
        color: var(--cp-icon-color);
        font-size: 25px;
        margin-left: 15px;
        cursor: pointer;
        transition: color 0.2s ease-in-out;
      }

      i:hover {
        color: var(--cp-icon-hover);
      }
    }
  }
}

.pen-header-right-section {
  flex: 0 0 40%;
  max-width: 40%;

  #follow-user {
    background: var(--button-primary);
    color: var(--text-primary);
    font-size: 14px;
    padding: 4px 14px;
    margin-left: 10px;
    border-radius: 3px;
  }
}

.pen-header-author-image {
  width: 50px;
  height: 50px;
  background: var(--text-primary);
  border: none;
  border-radius: 5px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;

  i {
    color: var(--cp-icon-color);
    font-size: 30px;
  }

  img {
    width: 100%;
    height: auto;
  }
}

.pen-header-menu {
  position: relative;
  justify-content: flex-end;

  .main-menu-wrap {
    display: none;
    position: absolute;
    right: 0;
    top: 60px;
    max-width: 200px;
    min-width: 200px;
    background-color: var(--side-header);
    padding: 25px 0;

    a {
      padding: 10px 25px;
    }
  }

  li {
    margin-right: 15px;
  }

  .useful-links {
    a {
      display: block;
      width: 100%;
      text-align: left;
    }

    hr {
      width: 100%;
    }
  }
}

.pen-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .heading-title {
    color: var(--text-primary);
    width: fit-content;
    padding: 0 0 10px 0;
    font-size: 22px;
    border-bottom: 8px double var(--button-primary);

    &:hover {
      border-bottom-color: var(--button-primary-hover);
    }
  }

  .view-all-pen {
    display: inline-block;
    color: var(--text-primary);
    background-color: var(--button-primary);
    padding: 5px 25px;
    transition: background-color 0.3s ease-in-out;
    border-radius: 25px;

    i {
      margin-left: 5px;
    }

    &:hover {
      background-color: var(--button-primary-hover);
    }
  }
}

.home-trending-pen-wrap, .home-popular-pen-wrap {
  position: relative;
  overflow: hidden;
}

.prev-pen-button, .next-pen-button {
  background-color: var(--cp-icon-color);
  color: #fff;
  padding: 8px 18px;
  cursor: pointer;
  z-index: 999;
}

.prev-pen-button:hover, .next-pen-button:hover, .prev-pen-button:focus, .next-pen-button:focus {
  background-color: var(--cp-icon-hover);
}

.prev-pen-button {
  position: absolute;
  top: 210px;
  left: -22px;
}

.next-pen-button {
  position: absolute;
  top: 210px;
  right: 15px;
}