<div class="banner-section">
    <div class="banner-content">
        <h1 class="banner-heading"><span class="banner-highlight">#1</span> Start Coding With <span id="animated-text">HTML</span>
        </h1>
        <div class="banner-description"><p class="description">CodePen is a social development environment for
            front-end designers and developers. Build and deploy a website, show off your work, build test cases
            to learn and debug, and find inspiration.</p></div>
        <div class="signup"><a class="signup-button btn" href="{% url 'user:signup_url' %}">SignUp</a></div>
    </div>
    <div class="banner-editor">
        <div class="banner-editor-bg">
            <div class="banner-html-editor">
                <div class="banner-editor-wrapper">
                    <span class="editor-stamp"><i class="fa fa-gear"></i>HTML</span>
                    <spam class="banner-editor-icon"><i class="fa fa-angle-down"></i></spam>
                    <textarea cols="50" rows="5" id="banner-html-editor" class="banner-html-editor"></textarea>
                </div>
            </div>
            <div class="banner-sass-editor">
                <div class="banner-editor-wrapper">
                    <span class="editor-stamp"><i class="fa fa-gear"></i>Javascript</span>
                    <spam class="banner-editor-icon"><i class="fa fa-angle-down"></i></spam>
                    <textarea cols="50" rows="5" id="banner-html-editor" class="banner-html-editor"></textarea>
                </div>
            </div>
            <div class="banner-js-editor">
                <div class="banner-editor-wrapper">
                    <span class="editor-stamp"><i class="fa fa-gear"></i>Python</span>
                    <spam class="banner-editor-icon"><i class="fa fa-angle-down"></i></spam>
                    <textarea cols="50" rows="5" id="banner-html-editor" class="banner-html-editor"></textarea>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="services-section-wrapper">
    <div class="services-content-wrap">
        <div class="services-content">
            <span class="services-icon"><i class="fa-solid fa-shapes"></i></span>
            <h4 class="services-header">Build & Test</h4>
            <p class="services-description">Get work done quicker by building out entire projects or isolating code to
                test features and animations. Want to keep it all under wraps? Upgrade to a PRO account to keep your
                work private.</p>
            <a href="{% url 'pen:new_pen' %}" class="btn services-button">Try Now</a>
        </div>
        <div class="services-content">
            <span class="services-icon"><i class="fa-regular fa-file-lines"></i></span>
            <h4 class="services-header">Practice All languages</h4>
            <p class="services-description">Get work done quicker by building out entire projects or isolating code to
                test features and animations. Want to keep it all under wraps? Upgrade to a PRO account to keep your
                work private.</p>
            <a href="{% url 'pen:new_pen' %}" class="btn services-button">Try Now</a>
        </div>
        <div class="services-content">
            <span class="services-icon"><i class="fa-solid fa-square-share-nodes"></i></span>
            <h4 class="services-header">Share your talent</h4>
            <p class="services-description">Get work done quicker by building out entire projects or isolating code to
                test features and animations. Want to keep it all under wraps? Upgrade to a PRO account to keep your
                work private.</p>
            <a href="{% url 'pen:new_pen' %}" class="btn services-button">Try Now</a>
        </div>
    </div>
</div>