{% block footer %}
<div class="cd-footer-content-section">
    <div class="cd-footer-section">
        <div class="cd-dynamic-widget"></div>
        <div class="cd-static-widget">
            <div class="cd-footer-resources">
                <h3 class="cd-footer-title">Resources</h3>
                <nav class="resources-footer-menu">
                    <ul class="footer-menu">
                        <li class="page_item page-item-13"><a
                                href="/">{{ site_url.name }}</a>
                        </li>
                        <li class="page_item page-item-13"><a
                                href="//pronations.com">Pronations</a>
                        </li>
                        <li class="page_item page-item-2"><a
                                href="//themes.pronations.com">Themes</a>
                        </li>
                        <li class="page_item page-item-2"><a
                                href="//cdn.codepen.live">CDN</a>
                        </li>
                        <li class="page_item page-item-13"><a
                                href="//blog.pronations.com">Blog</a>
                        </li>
                        <li class="page_item page-item-2"><a
                                href="//docs.codepen.live">Documentation</a>
                        </li>
                    </ul>
                </nav>
            </div>

            <div class="cd-footer-community">
                <h3 class="cd-footer-title">Community</h3>
                <nav class="navbar community-footer-menu">
                    <ul class="footer-menu">
                        <li class="page_item page-item-13"><a
                                href="/contact">Contact</a>
                        </li>
                        <li class="page_item page-item-2"><a
                                href="//support.codepen.live">Help & Support</a>
                        </li>
                        <li class="page_item page-item-2"><a
                                href="/developers">Developers</a>
                        </li>
                    </ul>
                </nav>
            </div>

            <div class="cd-footer-company">
                <h3 class="cd-footer-title">Company</h3>
                <nav class="navbar company-footer-menu">
                    <ul class="footer-menu">
                        <li class="page_item page-item-13"><a
                                href="/about">About</a>
                        </li>
                        <li class="page_item page-item-2"><a
                                href="/privacy">Privacy & policy</a>
                        </li>
                        <li class="page_item page-item-2"><a
                                href="/terms">Term of services</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="cd-footer-follow-us">
                <h3 class="cd-footer-title"> Follow Us</h3>
                <div class="cd-footer-social-icon">
                    <ul class="cd-social-media-icon">
                        <li>
                            <a href="https://www.facebook.com/pronations.me/" target="_blank"> <i
                                    class="fab fa-facebook-square" aria-hidden="true"></i> </a>
                        </li>
                        <li>
                            <a href="https://twitter.com/developershohel" target="_blank"> <i
                                    class="fab fa-twitter-square" aria-hidden="true"></i> </a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/in/developershohel/" target="_blank"> <i
                                    class="fab fa-linkedin" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/developershohel/" target="_blank"> <i
                                    class="fab fa-instagram" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.youtube.com/channel/UCosj836K9IhlLIAR9PIZrfw" target="_blank"> <i
                                    class="fab fa-youtube-play" aria-hidden="true"></i> </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}