{% load static %}
{% block headerscript %}
    <link rel="stylesheet" href="{% static 'plugins/codemirror/lib/codemirror.css ' %}">

    <link rel="stylesheet" href="{% static 'plugins/codemirror/addon/scroll/simplescrollbars.css ' %}">
    <link rel="stylesheet" href="{% static 'plugins/codemirror/addon/dialog/dialog.css ' %}">

    {# All Addons #}
    <link rel="stylesheet" href="{% static 'plugins/codemirror/addon/dialog/dialog.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/codemirror/addon/display/fullscreen.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/codemirror/addon/fold/foldgutter.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/codemirror/addon/hint/show-hint.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/codemirror/addon/lint/lint.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/codemirror/addon/merge/merge.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/codemirror/addon/scroll/simplescrollbars.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/codemirror/addon/search/matchesonscrollbar.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/codemirror/addon/tern/tern.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/addon/tern/tern.min.css"/>
    {# Theme #}
    <link rel="stylesheet" href="{% static 'plugins/codemirror/theme/blackboard.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/codemirror/theme/cobalt.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/codemirror/theme/darcula.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/codemirror/theme/dracula.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/codemirror/theme/eclipse.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/codemirror/theme/erlang-dark.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/codemirror/theme/idea.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/codemirror/theme/material.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/codemirror/theme/material-darker.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/codemirror/theme/material-palenight.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/codemirror/theme/material-ocean.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/codemirror/theme/the-matrix.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/codemirror/theme/monokai.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/sweetalert/sweetalert2.min.css' %}">
{% endblock %}