<div class="pen-main-header">
    <div class="pen-header-left-section">
        <div class="pen-logo-section">
            <a href="/" class="site-logo"><i class="fa-solid fa-house"></i></a>
        </div>
        <div class="pen-heading-section">
            <div class="pen-header-title">
                <label class="pen-title-label" for="pen-title"><input type="text" class="input pen-title-input" id="pen-title" value="{% if pens.pen_title %}{{ pens.pen_title }}{% else %}Untitled{% endif %}" placeholder="Enter you pen title" {% if not pens.get.user_id == request.user.id %}disabled="disabled"{% endif %}>{{ pens.pen_title}}{% if pens.get.user_id == request.user.id %}<i class="fa-regular fa-pen-to-square"></i> {% endif %}</label>
            </div>
            <div class="pen-author-section">
                <a href="{{ pens.get.user.username }}" class="pen-author"><i class="fa-solid fa-at"></i>{{ pens.get.user.username }}</a>
            </div>
        </div>
    </div>
    <div class="pen-header-right-section">
        <ul class="pen-header-menu menu">
            <li class="user-follow menu-item">
                <button class=" btn follow-user" id="follow-user"><i class="fa-solid fa-plus"></i>Follow</button>
            </li>
            <li class="pen-love menu-item">
                <button class="btn love-button" id="pen-love"><i class="fa fa-heart"></i></button>
            </li>
            <li class="menu-item">
                <button class="btn pen-header-setting" id="pen-header-setting"><i class="fa fa-gear"></i><span
                        class="button-text">setting</span></button>
            </li>
            <li class="menu-item">
                <select class="btn pen-header-layout" id="pen-header-layout">
                    <option value=""><i class="fa-solid fa-table-layout"></i><span class="button-text">setting</span>
                    </option>
                </select>
            </li>
            <li class="menu-item">
                {% if request.user.is_authenticated %}
                    <div class="pen-header-author-image">
                        {% if profile_image %}
                            <img src="{{ profile_image.url }}" alt="username" id="author-image">
                        {% else %}
                            <i class="fa-solid fa-user-tie"></i>
                        {% endif %}
                    </div>
                {% else %}
                    <div class="pen-header-author-image">
                        <i class="fa-solid fa-user-tie"></i>
                    </div>
                {% endif %}
                <div class="main-menu-wrap">
                    <nav class="main-nav">
                        <ul class="main-menu">
                            {% if request.user.is_authenticated %}
                                <li class="menu-item">
                                    <a href="/dashboard" class="menu-link"> <i class="fa-solid fa-gauge-high"></i><span>Dashboard</span></a>
                                </li>
                                <li class="menu-item current-child">
                                    <a href="{% url 'pen:new_pen' %}?platform=html" class="menu-link"><i
                                            class="fa-regular fa-pen-to-square"></i><span>New Pen</span></a>
                                    <i class="fa fa-angle-down"></i>
                                    <ul class="sub-menu">
                                        {% for key, values in codepen_platform.items %}
                                            <li class="menu-item">
                                                <a href="{% url 'pen:new_pen' %}?platform={{ key }}"
                                                   class="menu-link"><i
                                                        class="{{ values.icon }}"></i> {{ values.name }}</a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </li>
                                <li class="menu-item">
                                    <a href="" class="menu-link"> <i
                                            class="fa-solid fa-clipboard-list"></i><span>New Project</span></a>
                                </li>
                                <li class="menu-item">
                                    <a href="" class="menu-link"> <i
                                            class="fa-regular fa-object-group"></i><span>New Collection</span></a>
                                </li>
                            {% else %}
                                <li class="menu-item">
                                    <a href="" class="menu-link start-coding btn">Start Coding</a>
                                </li>
                            {% endif %}
                        </ul>
                        <ul class="useful-links">
                            <li class="menu-item">
                                <a href="" class="menu-link">Search Pen</a>
                            </li>
                            <li class="menu-item">
                                <a href="" class="menu-link">Trending Pen</a>
                            </li>
                            <li class="menu-item">
                                <a href="" class="menu-link">Popular Pen</a>
                            </li>
                            <li class="menu-item">
                                <a href="" class="menu-link">Upgrade <sup class="pro-tag">pro</sup></a>
                            </li>
                            <li class="line-breaker">
                                <hr class="breaker">
                            </li>
                            <li><a href="//support.codepen.live/"><i
                                    class="fa-regular fa-circle-question"></i>Support</a></li>
                            {% if request.user.is_authenticated %}
                                <li>
                                    <a href="/settings/"><i class="fa-solid fa-gear"></i>Settings</a>
                                </li>
                                <li>
                                    <a id="logout" href="{% url 'user:logout_url' %}"><i
                                            class="fa-solid fa-arrow-right-from-bracket"></i>Logout</a>
                                </li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
            </li>
        </ul>
    </div>
</div>