<div class="pen-main-header">
    <div class="pen-header-left-section">
        <div class="pen-logo-section">
            <a href="/" class="site-logo"><i class="fa-solid fa-house"></i></a>
        </div>
        <div class="pen-heading-section">
            <div class="pen-header-title">
                <label class="pen-title-label" for="pen-title">
                    <input type="text" class="input pen-title-input" id="pen-title" value="{% if pens.get.pen_title %}{{ pens.get.pen_title }}{% else %}Untitled{% endif %}" placeholder="Enter you pen title" {% if not pens.get.user_id == request.user.id %}disabled="disabled"{% endif %}>{% if pens.get.user_id == request.user.id %}<i class="fa-regular fa-pen-to-square"></i> {% endif %}
                </label>
            </div>
            <div class="pen-author-section">
                {% if request.user.username == pens.get.user.username %}
                    <label class="pen-slug-label" for="pen-slug">{{ base_url }} <input type="text" value="{{ pens.get.pen_slug }}" id="pen-slug" placeholder="Give a SEO friendly url" class="input pen-slug"></label>
                {% else %}
                    <a href="{{ pens.get.user.username }}" class="pen-author"><i class="fa-solid fa-at"></i>{{ pens.get.user.username }}</a>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="pen-header-right-section">
        <ul class="pen-header-menu menu">
            <li class="user-follow menu-item">
                <button class="btn run-button" id="run-button" data-target-id="10"><i class="fa-solid fa-play"></i><span class="button-text">{% if setting.get.auto_run == True %} Auto Run {% else %}Run {% endif %}</span><i class="fa-solid fa-spinner"></i></button>
                <input type="hidden" id="pen-run-method" value="{{ setting.get.auto_run }}">
            </li>
            {% if request.user.is_authenticated %}
                {% if request.user.username == pens.get.user.username %}
                    <li class="save-method-save ">
                        <button class="btn save-button" id="save-button" data-target-id="20"><i class="fa-regular fa-floppy-disk"></i><span class="button-text">{% if setting.get.auto_save == True %}Auto Save {% else %}Save {% endif %}</span><i
                                class="fa-solid fa-spinner"></i></button>
                    </li>
                    <li class="pen-setting">
                        <button class="btn setting-button" id="setting-button"><i class="fa-solid fa-gear"></i><span>Setting</span><i class="fa-solid fa-spinner"></i></button>
                    </li>
                {% endif %}
            {% endif %}
            <li class="menu-item">
                {% if request.user.is_authenticated %}
                    <div class="pen-header-author-image">
                        {% if profile_image %}
                            <img src="{{ profile_image.url }}" alt="username" id="author-image">
                        {% else %}
                            <i class="fa-solid fa-user-tie"></i>
                        {% endif %}
                    </div>
                {% else %}
                    <div class="pen-header-author-image">
                        <i class="fa-solid fa-user-tie"></i>
                    </div>
                {% endif %}
                <div class="main-menu-wrap">
                    <nav class="main-nav">
                        <ul class="main-menu">
                            {% if request.user.is_authenticated %}
                                <li class="menu-item">
                                    <a href="/dashboard" class="menu-link"> <i class="fa-solid fa-gauge-high"></i><span>Dashboard</span></a>
                                </li>
                                <li class="menu-item current-child">
                                    <a href="{% url 'pen:new_pen' %}?platform=html" class="menu-link"><i
                                            class="fa-regular fa-pen-to-square"></i><span>New Pen</span></a>
                                    <i class="fa fa-angle-down"></i>
                                    <ul class="sub-menu">
                                        {% for key, values in codepen_platform.items %}
                                            <li class="menu-item">
                                                <a href="{% url 'pen:new_pen' %}?platform={{ key }}"
                                                   class="menu-link"><i
                                                        class="{{ values.icon }}"></i> {{ values.name }}</a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </li>
                                <li class="menu-item">
                                    <a href="" class="menu-link"> <i
                                            class="fa-solid fa-clipboard-list"></i><span>New Project</span></a>
                                </li>
                                <li class="menu-item">
                                    <a href="" class="menu-link"> <i
                                            class="fa-regular fa-object-group"></i><span>New Collection</span></a>
                                </li>
                            {% else %}
                                <li class="menu-item">
                                    <a href="" class="menu-link start-coding btn">Start Coding</a>
                                </li>
                            {% endif %}
                        </ul>
                        <ul class="useful-links">
                            <li class="menu-item">
                                <a href="" class="menu-link">Search Pen</a>
                            </li>
                            <li class="menu-item">
                                <a href="" class="menu-link">Trending Pen</a>
                            </li>
                            <li class="menu-item">
                                <a href="" class="menu-link">Popular Pen</a>
                            </li>
                            <li class="menu-item">
                                <a href="" class="menu-link">Upgrade <sup class="pro-tag">pro</sup></a>
                            </li>
                            <li class="line-breaker">
                                <hr class="breaker">
                            </li>
                            <li><a href="//support.codepen.live/"><i
                                    class="fa-regular fa-circle-question"></i>Support</a></li>
                            {% if request.user.is_authenticated %}
                                <li>
                                    <a href="/settings/"><i class="fa-solid fa-gear"></i>Settings</a>
                                </li>
                                <li>
                                    <a id="logout" href="{% url 'user:logout_url' %}"><i
                                            class="fa-solid fa-arrow-right-from-bracket"></i>Logout</a>
                                </li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
            </li>
        </ul>
    </div>
</div>