{% extends 'main/base/pen-base.html' %}
{% block bodyclass %}new-pen{% endblock %}
{% block bodyid %}new-pen{% endblock %}
{% block content %}
    <div class="editor-content-wrapper {{ platform }}">
        <div class="editor-content-wrap">
            {% if platform == 'html' %}
                <div class="editor-content-section" id="editor-content-section">
                    <div class="editor-content-header"><h2 class="editor-title"><i class="fab fa-html5"></i> HTML</h2>
                    </div>
                    <div class="editor-area">
                        <div class="editor" id="html-editor"></div>
                    </div>
                </div>
                <div class="editor-content-section" id="editor-content-section">
                    <div class="editor-content-header"><h2 class="editor-title"><i class="fab fa-css3-alt"></i>CSS</h2>
                    </div>
                    <div class="editor-area">
                        <div class="editor" id="css-editor"></div>
                    </div>
                </div>
                <div class="editor-content-section" id="editor-content-section">
                    <div class="editor-content-header"><h2 class="editor-title"><i class="fab fa-js"></i> JS</h2>
                    </div>
                    <div class="editor-area">
                        <div class="editor" id="js-editor"></div>
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="editor-content-output">
            <div class="output-header">
                <h2 class="output-title">Output</h2>
            </div>
            <div class="output-area">
                <iframe id="preview" src="{{ pens.get.get_absolute_full_view_url }}" title="An attractive title"
                            sandbox="allow-scripts allow-same-origin allow-downloads allow-forms allow-modals allow-pointer-lock allow-popups"></iframe>
            </div>
            <div class="console-area">
                <div class="console-header">
                    <h2 class="console-title">Console</h2>
                    <div class="console-action">
                        <button class="btn console-clear">Clear</button>
                        <button class="btn console-close"><i class="fa-regular fa-circle-xmark"></i></button>
                    </div>
                </div>
                <div class="console-output" id="console-output"></div>
                <div class="console-field">
                    <i class="fa-solid fa-angle-right"></i>
                    <textarea id="console-input" rows="1" sandbox="allow-forms allow-modals allow-pointer-lock allow-popups allow-same-origin allow-scripts allow-top-navigation-by-user-activation allow-downloads allow-presentation"></textarea>
                </div>
            </div>
        </div>
        <div class="editor-footer-section">
            <footer id="editor-footer" class="editor-footer">
                <div class="footer-left">
                    <button class="editor-console-button editor-button" id="editor-console-button"><i
                            class="fa-solid fa-terminal"></i> Console
                    </button>
                    <button id="editor-assets-button" class="editor-assets-button editor-button"><i
                            class="fa-solid fa-link"></i>
                        Assets
                    </button>
                </div>
            </footer>
        </div>
    </div>
{% endblock %}