{% load static %}
<script type="text/javascript" src="{% static 'dashboard/js/form.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.3.0/jquery.form.min.js"></script>
<script type="text/javascript" src="{% static 'plugins/codemirror/lib/codemirror.js' %}"></script>
<script type="text/javascript" src="{% static 'plugins/codemirror/mode/xml/xml.js' %}"></script>
<script type="text/javascript" src="{% static 'plugins/codemirror/mode/python/python.js' %}"></script>
<script type="text/javascript" src="{% static 'plugins/codemirror/addon/display/panel.js' %}"></script>
<script type="text/javascript" src="{% static 'plugins/codemirror/addon/wrap/hardwrap.js' %}"></script>
